.list-item{
    width: 300px;
    border-radius: 7px;
    background-color: rgb(252, 247, 241);
    text-align: center;
    padding: 25px;
    box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
-webkit-box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
-moz-box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
}
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
}
body{
    color: rgb(36, 8, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://st2.depositphotos.com/32273002/47265/i/450/depositphotos_472657440-stock-photo-minimalistic-pink-wallpaper-grain-texture.jpg"); /* сюда вставь ссылку на нужное изображение */
    background-size: cover;        
    background-position: center;   
    background-attachment: fixed;  
    background-repeat: no-repeat;
}
button{
    font-weight: bolder;
    margin-top: 20px;
    margin-left:190px;
    width: 200px;
    padding: 10px;
    background-color: rgba(250, 155, 155);
    color: rgb(252, 247, 241); 
    
}

.app h1{
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(250, 155, 155);
    color: rgb(252, 247, 241);
    min-width: 1550px;
}


.search input{
    height:35px;
    min-width: 300px;
    border-radius: 7px;
    margin:10px;
    margin-left: 190px;
    border:none;
    background-color: rgb(252, 247, 241);
    font-weight: bolder;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgba(250, 155, 155);
    box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
-webkit-box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
-moz-box-shadow: 1px 0px 17px 2px rgba(239,146,146,0.71);
}

::placeholder{
    color:rgba(250, 155, 155);
}



